{% extends "template.html"%}

{% block content %}
<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto">
    <h1 class="mb-0">Nik
      <span class="text-primary">Burmeister</span>
    </h1>
    <div class="subheading mb-5">Madison, WI 53703 · +1 (414) 326-7414 ·
      <a href="mailto:name@email.com">nburmeister@wisc.edu</a>
    </div>
    <p class="lead mb-4">Dear Reader, </p>
    <p class="lead mb-4">First and foremost, thank you for visiting.
      I am a student at the University of Wisconsin-Madison studying Computer Science, Real Estate, and Finance.
      I have worked in corporate finance for a Fortune 50 company and as a software engineer for a hedge fund. I am seeking an internship or a full time job in either real estate development, private equity, asset management, or software engineering.
    <p class="lead mb-4"> On this website you will find my past work experience, details about my education, and my skills and interests. Feel free to browse my website, and don't hesitate to contact me.</p>
    <p class="lead mb-2">Sincerely,</p>
    <p class="lead mb-5">Nik Burmeister</p>
    <br>
    <p>I recently learned Javascript. <a href="{{url_for('javascript')}}">Check out what I have done here.</a></p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/nik-burmeister-74836846/">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/nwburmeister">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://twitter.com/nikburmeister">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
  <div class="my-auto">
    <h2 class="mb-5">Experience</h2>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Software Engineering Intern</h3>
        <div class="subheading mb-3">Prime Capital AG   |   Frankfurt, Germany</div>
        <p>For 9 months, I worked with a small team of developers supporting a hedge fund of over 70 people. My
          first project was to re-engineer a Monte-Carlo simulation that predicted collateralized bond portfolio
          values in the event of a default. I managed to improve the simulation runtime from over 12 hours to less than 2 using Numpy
          and Pandas.
        </p>
        <p>In addition, I helped maintain in house libraries, developed automated internal and external reports,
          and implemented web services.</p>


      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">September 2016 - May 2017</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Financial Analyst Intern</h3>
        <div class="subheading mb-3">Walgreens Corporate   |   Deerfield, IL</div>
        <p>As an intern within Walgreens' Financial Planning and Analysis department, I prepared ad-hoc
           analysis for upper level management. I also wrote a fully automated script using VBA and Python
           to audit fixed bid consultant contracts. Using this tool, management was able to save over 8 hours per
           week.</p>
        <p><span style="color: #824027;">Case Competition 2016:</span><br>Developed a Corporate Social Responsibility strategy that leveraged Walgreens' own brand.
        </p>
        <p></p>
        <p><span style="color: #824027;">Case Competition 2017:</span><br>Created a comprehensive business plan for improving point of sale (POS) transactions utilizing mobile technology.
          Explored how technologies such as machine learning could be used to improve human decision making and customer experience.</p>
        <p></p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">June - August; 2016, 2017</span>
      </div>
    </div>


  </div>

</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
  <div class="my-auto">
    <h2 class="mb-5">Awards &amp; Certifications</h2>
    <ul class="fa-ul mb-0">

      <li>
        <i class="fa-li fa fa-trophy text-warning"></i> Brand Award for Real Estate Excellence  (2019)</li>
      <p> <i>Received the Brand Award for Real Estate Excellence for an appraisal of a local Madison office building I did for my Real Estate Valuation class. You can download and view the report here: <a href="https://drive.google.com/file/d/1vQhCRQP8KNQ5ZoCJbK3cOMite-ZBKM7r/view?usp=sharing">click to view report</a></i></p>
      <li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>2<sup>nd</sup> Place - Walgreens Corp. Intern Case Competition (2017)</li>
      <li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>2<sup>nd</sup> Place - Walgreens Corp. Intern Case Competition (2016)</li>
      <li>

    </ul>
  </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
  <div class="my-auto">
    <h2 class="mb-5">Education</h2>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">University of Wisconsin-Madison</h3>
        <div class="subheading mb-1">Bachelor of Science; Bachelor of Business Administration</div>

        <div class="subheading mb-4"></div>
        <div class="subheading mb-2">Computer Science</div>
          Relevant Coursework:
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fa fa-check"></i>CS 577 Algorithms</li>
          </ul>
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fa fa-check"></i>CS 532 Matrix Methods in Machine Learning</li>
          </ul>
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fa fa-check"></i>CS 564 Database Management Systems: Design and Implementation</li>
          </ul>
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fa fa-check"></i>CS 540 Intro to Artificial Intelligence</li>
          </ul>
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fa fa-check"></i>CS 367 Data Structures</li>
          </ul>
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fa fa-check"></i>CS 524 Optimization</li>
          </ul>
        <p class="lead mb-5"></p>

        <div class="subheading mb-2">Finance, Investment Banking, & Real Estate</div>
          Relevant Coursework:
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fa fa-check"></i>FIN 330 Derivatives</li>
          </ul>
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fa fa-check"></i>RE 415 Valuation</li>
          </ul>
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fa fa-check"></i>RE 365 Commercial Lease Modeling in Excel & ARGUS</li>
          </ul>
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fa fa-check"></i>RE 312 Real Estate Law</li>
          </ul>
          <div class="subheading mb-5"></div>
          Other Relevant Coursework:
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fa fa-check"></i>MATH 234 - Multi-variable Calculus</li>
          </ul>
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fa fa-check"></i>MATH 320 - Linear Algebra</li>
          </ul>
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fa fa-check"></i>ECON 410 - Econometrics</li>
          </ul>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">September 2014 - May 2016; September 2017 - Present</span>
      </div>
    </div>

  </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto">
    <h2 class="mb-5">Skills</h2>

    <div class="subheading mb-3">Programming Languages &amp; Tools</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <i class="fab fa-python"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-java"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-html5"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-css3-alt"></i>
      </li>
    </ul>


    <div>Python
      <ul class="fa-ul mb-0">
        <li><i class="fa-li fa fa-check"></i>Pandas</li>
        <li><i class="fa-li fa fa-check"></i>Numpy</li>
        <li><i class="fa-li fa fa-check"></i>Flask</li>
        <li><i class="fa-li fa fa-check"></i>Selenium</li>
        <li><i class="fa-li fa fa-check"></i>Beautiful Soup</li>
        <li><i class="fa-li fa fa-check"></i>Scrappy</li>
        <li><i class="fa-li fa fa-check"></i>PRAW</li>
        <li><i class="fa-li fa fa-check"></i>PyAlgoTrade</li>
      </ul>
    </div>
    <div class="mb-5"></div>
    <div >Java
      <ul class="fa-ul mb-0">
        <li><i class="fa-li fa fa-check"></i>Pandas</li>
        <li><i class="fa-li fa fa-check"></i>Maven</li>
        <li><i class="fa-li fa fa-check"></i>Jersey</li>
        <li><i class="fa-li fa fa-check"></i>TA-Lib</li>
      </ul>
    </div>
    <div class="mb-5"></div>
    <div >HTML, CSS, JavaScript
        <ul class="fa-ul mb-0">
          <li><i class="fa-li fa fa-check"></i>Bootstrap</li>
        </ul>
    </div>
    <div class="mb-5"></div>
    <div >Other
        <ul class="fa-ul mb-0">
          <li><i class="fa-li fa fa-check"></i>Excel</li>
        </ul>
        <ul class="fa-ul mb-0">
          <li><i class="fa-li fa fa-check"></i>ARGUS CRE Modeling</li>
        </ul>
    </div>

  </div>
</section>

<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
  <div class="my-auto">
    <h2 class="mb-5">Interests</h2>
    <p>
      Outside of school I enjoy working out, playing soccer, and riding my bike on the trails. I am an avid chess
      player, and an amateur photographer and graphic designer.

      One of my life goals is to visit almost all countries on Earth (or at least all the ones that are safe for
      tourists). So far I have had the privilege to visit 19 countries. Below you can find photos of my journey!
    </p>
    <p class="lead mb-5"></p>
    <div class="subheading mb-3">Photography & Travel</div>
    {% for index, val in photos.items() %}
        <img src="{{url_for('send_image', filename=index)}}"
             width="{{photos[index].width}}"
             height="{{photos[index].height}}"/>
    {% endfor %}

    <p class="lead mb-3"></p>
    <a href="{{url_for('photography')}}"><p>See more</p></a>
    <p class="lead mb-3"></p>
    <p class="lead mb-5"></p>
    <!--
   <div class="subheading mb-3">Graphic Design</div>
    {% for index, val in design.items() %}
        <img src="{{url_for('send_image', filename=index)}}"
             width="{{design[index].width}}"
             height="{{design[index].height}}"/>
    {% endfor %}
    -->
  </div>
</section>


{% endblock %}